Django>=3.0,<4.0
djangorestframework>=3.12.2,<4.0
psycopg2-binary>=2.8
gunicorn>=20.0.4
PyYaml>=5.4.1
uritemplate>=3.0.1
coreapi>=2.3.3
djangorestframework-simplejwt>=4.6,<5.0
requests>=2.25.1, <3.0
json-rpc>=1.13.0, <2.0
pytest>=6.2.2, <7.0
pytest-django>=4.1.0, <5.0
django-redis==4.12.1
redis == 3.5.3